.main__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 10px;

  @media (min-width: 768px) {
    padding: 6rem 10px;

  }
}
.main__next h2 {
  padding: 15px 0;
}
.main__next h3 {
  padding: 20px 0;
  margin-left: 20px;
  text-align: center;
}
.main__next ul li {
  padding: 5px 0;
  margin-left: 25px;
  list-style:disc ;
}
.main__next p {
  padding: 5px 0;
  margin-left: 10px;
}
.main__content {
  background-color: rgba(0,0,0,0.8);
  padding: 15px 2%;
  border: 6px double;
  border-radius: 5px;
}
/* .grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
  position: absolute;
  z-index: 50;
  margin-top: 150px;
} */
